/* html */

body{ 
  background: url(_imgs/polygon_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Nav */
.navbar-default {
    background-color: #111111;
    border-color: none;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
    font-family: 'Muli',"Helvetica Neue", sans-serif;
}

.glyphicon-shopping-cart {
    color: #525252;
    font-size: 18px;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:hover { 
color: white;                      
}

/*@media (min-width: @screen-sm-min) { 
    .h1 { font-size: 20px;
}

@media (min-width: @screen-md-min) { 
    .h1 { font-size: 30px;

} */

/* Jumbotron */

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #fff;
    background-color: transparent !important;
}


.jumbotron .h1, .jumbotron h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Muli',"Helvetica Neue", sans-serif;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 3px;
}


p {
    margin: 0 0 10px;
}

.jumbotron .about h1{
    font-family: 'Muli',"Helvetica Neue", sans-serif;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 3px;
    color: #fff;
    font-size: 45px;

}

.jumbotron .about p {
     font-family: 'Muli',"Helvetica Neue", sans-serif;
     letter-spacing: 1px;
     line-height: 1.2;
    color: #fff;
    font-size: 15px;
    padding-top: 10px;
}


.jumbotron .about .about-image img {
    display: block;
    max-width: 100%;
    height: 450px;
    vertical-align: left;
    float: right;
}
/* Jumbotron button*/

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 13px;
    line-height: 1.3333333;
    border-radius: 0px;
}

.btn-primary {
    color: #fff;
    background-color: #525252;
}

.btn {
    display: inline-block;
    padding: 8px 50px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 100;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: px;
}

/* Store columns*/

.jumbotron .store-erasers img {
    display: block;
    max-width: 100%;
    height: 200px;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.jumbotron .store-erasers h2 {
    font-family: 'Muli',"Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.1;
    letter-spacing: 1px;
    text-align: center;
}

.jumbotron .store-erasers .btn-store {
    color: #fff;
    background-color: #525252;
    border-color: none;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 1px;
    border-radius: 0px;
}

.jumbotron .store-erasers .btn-store a:hover{
    background-color: #525252;
}


/*TYPES*/

.eraser-type h2{
    font-family: 'Muli',"Helvetica Neue", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.eraser-type p{
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.eraser-type .btn-type {
    color: #fff;
    background-color: #525252;
    border-color: none;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 1px;
    border-radius: 0px;

}

/*CONTACT*/

.featurette {
    font-family: 'Muli',"Helvetica Neue", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 100;
}
.featurette img {
    max-width: 100%;
    height: 150px;
    float: right;
    margin-bottom: 30px;
}

.featurette .contact-left {
    float: left;
}

/*sign*/

.btn-sign {
    color: #fff;
    background-color: #525252;
    border-color: none;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 1px;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
    margin-bottom: 20px;

}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;


/* media queries*/

/* Jumbotron erasers*/
/*.eraser {
    display: flex;
    justify-content: center;
}

.eraser img {
    margin: 15px 30px 15px 30px;
} */

/* Footer starts here */

.footer {
    text-align: center;
}

.footer {
	text-align: center;
    font-size: 5px;
    color: #4c4c4c;
    letter-spacing: 1px;
}

.footer p {
    text-align: center;
    font-size: 5px;
    color: #4c4c4c;
    letter-spacing: 1px;
}

