body {
	background: url(_imgs/background_2.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   background-color: transparent !important;	
}

ul.nav a:hover { 
	color: #ff5f06 !important; 
} 

.jumbotron {
    padding-top: 200px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
}

.jumbotron h5 {
	padding-top: 120px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0.5px;
    border-top: 1px solid #5e5e5e;
}

/*.about {
	padding-top: 30px;
}

.right img {
	vertical-align: right;
}*/

.debrispiece {
	height: 300px;
	vertical-align: right;
}

h2 {
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 3px;
	text-align: center;
	font-weight: bold;
}

.about {
	text-align: right;
	padding-top: 30px;
	line-height: 30px;
	padding-bottom: 30px;
}

/*.about span {
    background: #fff;
    padding: 4px 0;
}

.about span span {
	background: #ff5f06;
}*/

/*Process*/

.marketing .row {
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

.marketing .row img{
	display: inline-block;
	vertical-align:middle;
}

.marketing .row span {
	background: #ff5f06;
}

/*	padding-top: 10px;
}*/

.typeface {
	padding-top: 30px;

}

.typeface img {
	padding-top: 20px;
}

.typeface .color-type {
	padding-top: 20px;
}

.typeface span {
	background: #ff5f06;

}

/*	downloads
}*/

.download {
	vertical-align: middle;
	padding-top: 50px;
	padding-bottom: 50px;
}


.download .btn {
	border: 5px;
	border-style: solid;
	border-color: #ff5f06;
	border-radius: 0px;
	padding: 20px 20px 20px 20px;
}

.download a {
	color: #5e5e5e !important;
	font-weight: bold;
}

.download .btn:hover, .btn:focus{
	color: #fff !important;
	background-color: #5e5e5e
}

.specimen {
	padding-top: 30px;
	padding-bottom: 30px;
}

.specimen img {
	height: 500px;
	padding-top: 30px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
/*	chaos
}*/

.chaos {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #171717;
}

.chaos h3 {
	color: #fff;
	text-transform: lowercase;
	font-size: 20px;
	letter-spacing: 3px;
	text-align: center;
	font-weight: bold;
}

.chaos p {
	color: #a2a2a2;
}

.chaos img {
	padding-top: 20px;
	vertical-align: middle;
}

.foot{
	margin-top: 30px;
	font-size: 10px;
}